In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, PowerTransformer, LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, classification_report
from sklearn.naive_bayes import GaussianNB
from scipy import stats

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('iris.csv')

In [4]:
df.shape

(150, 5)

In [5]:
df.replace('?', np.nan, inplace=True)

df.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [6]:
df.shape

(150, 5)

In [7]:
df.shape
df.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [8]:
#df = df.apply(pd.to_numeric, errors='coerce')

In [25]:
le = LabelEncoder()
for column in df.columns:
    if df[column].dtype == 'object' or df[column].dtype.name == 'category':
        df[column] = le.fit_transform(df[column].astype(str))

# Print the head of the dataframe
print(df.head())

   sepal.length  sepal.width  petal.length  petal.width  variety
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0
3           4.6          3.1           1.5          0.2        0
4           5.0          3.6           1.4          0.2        0

In [10]:
for col in df.columns:
    if df[col].min() < 0:
        df = df[df[col] >= 0]

df.head()

   sepal.length  sepal.width  petal.length  petal.width  variety
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0
3           4.6          3.1           1.5          0.2        0
4           5.0          3.6           1.4          0.2        0

In [11]:
df.dropna(inplace=True)

df.head()

   sepal.length  sepal.width  petal.length  petal.width  variety
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0
3           4.6          3.1           1.5          0.2        0
4           5.0          3.6           1.4          0.2        0

In [12]:
Q1 = df.quantile(0.25)   # 25th percentile
Q3 = df.quantile(0.75)   # 75th percentile
IQR = Q3 - Q1            # Interquartile Range (middle 50% of data)

# Outlier bounds
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Remove rows where any column has a value outside the IQR range
df = df[~((df < lower_bound) | (df > upper_bound)).any(axis=1)]

df.head()

   sepal.length  sepal.width  petal.length  petal.width  variety
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0
3           4.6          3.1           1.5          0.2        0
4           5.0          3.6           1.4          0.2        0

In [13]:
X = df.drop(columns='variety')  # Assuming 'target' column exists
y = df['variety']

In [14]:
imputer=SimpleImputer(strategy='mean')
X=pd.DataFrame(imputer.fit_transform(X),columns=X.columns)
X.head()

   sepal.length  sepal.width  petal.length  petal.width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [15]:
pt=PowerTransformer()
X=pd.DataFrame(pt.fit_transform(X),columns=X.columns)
X.head()

   sepal.length  sepal.width  petal.length  petal.width
0     -0.905819     1.151059     -1.356804    -1.356182
1     -1.188197    -0.075113     -1.356804    -1.356182
2     -1.482122     0.424940     -1.407456    -1.356182
3     -1.633694     0.176591     -1.305746    -1.356182
4     -1.045617     1.387152     -1.356804    -1.356182

In [16]:
scaler=StandardScaler()
X=pd.DataFrame(pt.fit_transform(X),columns=X.columns)
X.head()

   sepal.length  sepal.width  petal.length  petal.width
0     -0.906145     1.150486     -1.289578    -1.304899
1     -1.186749    -0.073730     -1.289578    -1.304899
2     -1.478491     0.426018     -1.327438    -1.304899
3     -1.628814     0.177926     -1.251127    -1.304899
4     -1.045108     1.385815     -1.289578    -1.304899

In [17]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [18]:
logreg=LogisticRegression()
logreg.fit(X_train,y_train)
y_pred_lr=logreg.predict(X_test)
acc_lr=accuracy_score(y_test,y_pred_lr)
acc_lr

0.9333333333333333

In [19]:
print(classification_report(y_test,y_pred_lr))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        12
           1       0.88      0.88      0.88         8
           2       0.90      0.90      0.90        10

    accuracy                           0.93        30
   macro avg       0.92      0.92      0.92        30
weighted avg       0.93      0.93      0.93        30

In [20]:
knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(X_train, y_train)
y_pred_knn = knn.predict(X_test)
acc_knn = accuracy_score(y_test, y_pred_knn)

acc_knn

0.9333333333333333

In [21]:
print(classification_report(y_test, y_pred_knn))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        12
           1       0.88      0.88      0.88         8
           2       0.90      0.90      0.90        10

    accuracy                           0.93        30
   macro avg       0.92      0.92      0.92        30
weighted avg       0.93      0.93      0.93        30

In [22]:
nb = GaussianNB()
nb.fit(X_train, y_train)
y_pred_nb = nb.predict(X_test)
acc_nb = accuracy_score(y_test, y_pred_nb)

acc_nb

0.9333333333333333

In [23]:
print(classification_report(y_test, y_pred_nb))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        12
           1       0.88      0.88      0.88         8
           2       0.90      0.90      0.90        10

    accuracy                           0.93        30
   macro avg       0.92      0.92      0.92        30
weighted avg       0.93      0.93      0.93        30